{% extends 'base.html.twig' %}

{% block body %}
    <h1>Change password</h1>

    {{ form_start(form) }}
        {{ form_row(form.oldPassword) }}
        {{ form_row(form.newPassword.first) }}
        {{ form_row(form.newPassword.second) }}
        <button type="submit" class="btn btn-submit">Change</button>
    {{ form_end(form) }}
{% endblock %}